

    body{ 
      background-image: url(image-product-desktop.jpg);
background-repeat:no-repeat;
background-attachment: fixed;
background-position:center center;
background-position-x: 40%;
background-position-y: 50%;
background-size: 400px ;
font-size:(paragraph);
background-color:blanchedalmond;
   }


.fondo{
  background-color: white;
  margin: 10px;
  padding:40px 0px 40px 0px;
  border:solid 10px white;
  position:absolute;
  left:50%;
  bottom:18%;
  width: 300px;
  height: 500px;
  overflow:hidden;


 
}
.text{
   position:absolute;
   bottom:1px;
   left:40%;
   transform:translate(-50%,-50%);
  
}
          .inicio{
        
          
                  }
   .titulo{

      

   }
   .subtitulo{
      
  }
  .precio{
   color:darkcyan;
 
  }
